// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';


@import 'home';

body{
    color:white;
    
}

.container-form{
    text-align: center;

    & input{
        width: 70%;
        &:nth-last-child(1){
            width: 15%;
        }
    }
    & textarea{
        width: 70%;
    }
}